.container{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background-color:#0f141e;
}

.transition-enter{
opacity: 0;
}
.transition-enter-active{
  opacity: .8;
  transition: opacity 300ms ease-in;
}
.transition-enter-done{
  opacity: .9;
}

.transition-exit{
  opacity: .8;
}
.transition-exit-active{
  opacity: 0;
  transition: opacity 300ms ease-in;
}
